node_modules/
dist/
.env/
.DS_Store
coverage/
*.log
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.bak
*.tmp
*.swp
*.swo
*.swn
.toml
*.zip
*.csv
*.jsonl
*.faiss
*.pkl
__pycache__/
*.pyc
venv/
.venv/
env/